.navbar-toggler {
    display:flex;
}

.a-body-button {
    font-family: var(--sans-serif);
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    color: #f5f5f5;
    /*
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 4px ;
    padding-top: 4px;
    padding-bottom: 4px; */
    display: inline-block;  
    justify-content: space-between;
    margin-right: 1;
 

    
}
/* I'd like to make sure that the arrows are within the button containers...but 
i'm not sure what to target within the .a-body-button  (margin/width/padding?) to make sure 
they aren't too far apart...and that the two buttons remain inline

i added below the .buttonContainer in html but doesn't seem quite right

do they need serparate named containers?*/

.buttonContainer{
    background-color: #3A3838;
    display: inline-block;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 4px ;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-right: 1;
}






.arrow-right,
.arrow-left,
.long-arrow-right,
.long-arrow-left {
  display: block;
  margin: 30px auto;
  width: 25px;
  height: 25px;
  border-top: 6px solid #000;
  border-left: 6px solid #000;
}   
.arrow-right,
.long-arrow-right {
 transform: rotate(135deg);
}

.arrow-left,
.long-arrow-left {
 transform: rotate(-45deg);
}
.long-arrow-right::after,
.long-arrow-left::after {
  content: "";
  display: block;
  width: 6px;
  height: 45px;
  background-color: black;
  transform: rotate(-45deg) translate(15px, 4px);
  left: 0;
  top: 0;
}
/*
.scroll-watcher{
    height: 10px;
    position:fixed;
    top: 0;
    z-index:1000;
    background-color: aqua;
    width: 100%;
    scale: 0 1;
    transform-origin: scroll();

    animation:scroll-watcher linear;
    animation-timeline: scroll();
}

@keyframes scroll-watcher{
    to {scale: 1 1;}
}
*/

.navbar {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    background-color: #000;
    top: 0;
    z-index: 2;

    

}
.navbar-brand {
    color: whitesmoke;
    padding-left: 36px;
}


.navbar-toggler {
    font-size: 16px;
    text-decoration: none;
    
}

div {
    display: block;
    unicode-bidi: isolate;

} 

.c-project_holder {
    display: flex;
    Flex-direction: row;


}

#sidenavigation {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 18vw;
    height: 100%;
    position: fixed;
    z-index: 8;
    background:#eee;
    overflow-x: hidden;
    padding: 32px 16px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    display: block;
    font-size: 18px;
    color: #2d2d2d;
}

.sidenav a:hover {
    color: #ee2a61;
}




.c-header-h5 {
    color: grey;
    text-transform: uppercase;
    font-size: 12px;
    display: flex;
    padding-left: 8px;

}

.c-divider {
    height: var(--thickness);
    border-bottom: var (--thickness) solid black;
    flex: 0 auto;


}

.c-align.is--horizontal-center {
    display: flex;
    align-items: center;
    flex: 1;
}



.next-arrow {
    margin-right: 36px;
    display: inline-block;
    filter: imver(1);
    width: 25px;

}

.slideout_link.secondary {
    background-color: black;
    color: whitesmoke;
}




/*
.list-group-item list-group-item-action{
    display: grid;
    gap: 10px;
    background-color: grey;
    align-items: center;
}
*/

.scrim.is--hidden {
    display: none;

}

.scrim {
    z-index: 2;
    width: 100%;
    height: 100%;
    position: relative;

}
.c-container_holder {
    display: flex;
    width: 100%;
    overflow: hidden;
    
}

.c-container {
    display: flex;
    flex-direction: column;

}

.c-container.is--project {
    width: 100%;
    margin-left: 20vw;
}
.c-main_body.is--project {
    padding-right: 16px;
    padding-left: 16px;
    display: flex;
    flex-direction: column;
}

.c-wrapper {
    width:100%;
    flex-direction: column;
    display: flex;
}

.c-flex_vertical.is--m_spacing {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    flex: 1;

}

.c-scroll_offset {
    margin-top: -52px;
    padding-top: 64px;
}

.c-margin {
    align-self: center;
}

.c-margin.is--92_top_bottom.is--project {
    width: 60%;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 0;
}

.c-image-holder {
    display: flex;
    align-self: stretch;
}

.c-image-holder.is--project-hero {
    width:45%;
    align-items: center;
}

.c-image_frame {
    padding: 16px;
    border: .75px thickness solid black;
    background-color: whitesmoke;
    box-shadow: 6px 6px 0 0 grey;
    flex: none;
}

img {
    width: 100%;
}

.card {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1;
    align-content: center;
    padding: 10px;
    width: 18rem;
}



.body{
    position: relative;
    min-height: 100%;

}








@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }