.navbar-toggler{
    display:flex;
}

.a-body-button{
    font-family: var(--sans-serif);
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    color:#000;
    
}






.arrow-right,
.arrow-left,
.long-arrow-right,
.long-arrow-left{
  display: block;
  margin: 30px auto;
  width: 25px;
  height: 25px;
  border-top: 6px solid #000;
  border-left: 6px solid #000;
}   
.arrow-right,
.long-arrow-right{
 transform: rotate(135deg);
}

.arrow-left,
.long-arrow-left{
 transform: rotate(-45deg);
}
.long-arrow-right::after,
.long-arrow-left::after{
  content: "";
  display: block;
  width: 6px;
  height: 45px;
  background-color: black;
  transform: rotate(-45deg) translate(15px, 4px);
  left: 0;
  top: 0;
}
/*
.scroll-watcher{
    height: 10px;
    position:fixed;
    top: 0;
    z-index:1000;
    background-color: aqua;
    width: 100%;
    scale: 0 1;
    transform-origin: scroll();

    animation:scroll-watcher linear;
    animation-timeline: scroll();
}

@keyframes scroll-watcher{
    to {scale: 1 1;}
}
*/

.navbar {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    background-color: #000;

    

}
.navbar-brand{
    color: whitesmoke;
    padding-left: 36px;
}


.navbar-toggler{
    font-size: 16px;
    text-decoration: none;
    
}

div{
    display: block;
    unicode-bidi: isolate;

}

.sidenav{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 18vw;
    height: 100%;
    position: sticky;
    z-index: 8;
    top:52px;
    left:10px;
    background:#eee;
    overflow-x: hidden;
    padding: var(64px) var(16px);
}

.sidenav a{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    display: block;
    font-size: 18px;
    color: #2d2d2d;
}

.sidenav a:hover {
    color: #ee2a61;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

.table-list{
    padding-left: 18px;

}

.c-header-h5{
    color: grey;
    text-transform: uppercase;
    font-size: 12px;
    display: flex;
    padding-left: 8px;
    margin-top: 64px;
}

.c-divider{
    height: var(--thickness);
    border-bottom: var (--thickness) solid black;
    flex: 0 auto;


}

.c-align.is--horizontal-center{
    display: flex;
    align-items: center;
    flex: 1;
}

.a-body-button{
    background-color: rgb(64, 62, 62);
    color: whitesmoke;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 4px ;
    padding-bottom: 4px;
    display: inline-block;  
    justify-content: space-between;
    margin-right: 1;

}   

.next-arrow{
    margin-right: 36px;
    display: inline-block
}

.slideout_link.secondary{
    background-color: black;
    color: whitesmoke;
}




/*
.list-group-item list-group-item-action{
    display: grid;
    gap: 10px;
    background-color: grey;
    align-items: center;
}
*/
.c-container_holder{
    display: flex;
    width: 100%;
    
}

.c-container{
    display: flex;
    flex-direction: column;

}


.c-wrapper{
    width:100%;
    flex-direction: column;
    display: flex;
}

.c-flex_vertical.is--m_spacing{
    display: flex;
    align-items: stretch;
    flex-direction: column;
    flex: 1;

}

.c-scroll_offset{
    margin-top: -52px;
    padding-top: 64px;
}

.c-margin{
    align-self: center;
}

.card{
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1;
    align-content: center;
    padding: 10px;
}



.body{
    position: relative;

}

